<ul class="flex justify-between mb-6 bg-secondary-100 rounded-3xl max-w-lg mx-auto text-sm sm:text-base">
	<li>
		<a routerLink="/switches/{{id}}/vlans"
			class="px-4 sm:px-6 py-1 h-full hover:bg-secondary-200 rounded-3xl inline-block">
			VLANS
		</a>
	</li>
	<li>
		<a routerLink="/switches/{{id}}/ports"
			class="px-4 sm:px-6 py-1 h-full hover:bg-secondary-200 rounded-3xl inline-block">
			Ports
		</a>
	</li>
	<li>
		<a routerLink="/switches/{{id}}/config"
			class="px-4 sm:px-6 py-1 h-full hover:bg-secondary-200 rounded-3xl inline-block">
			Config
		</a>
	</li>
	<li>
		<a routerLink="/switches/{{id}}/backup"
			class="px-4 sm:px-6 py-1 h-full hover:bg-secondary-200 rounded-3xl inline-block">
			Backup
		</a>
	</li>
</ul>
<div>
	<router-outlet></router-outlet>
</div>