<div>
	<p>Last update: <span>{{lastUpdate}}</span></p>
</div>
<div class="mt-8">
	<button type="button" (click)="get()"
					[appSpinner]="false" loadingText="Getting..."
					class="text-white relative bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-12 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
		Sync config
	</button>
	<p>Procedimento não destrutivo: Sincroniza a aplicação com a configuração do switch.</p>
</div>
<div class="mt-12">
	<button type="button" (click)="recover()"
					[appSpinner]="false" loadingText="Recovering..."
					class="text-white relative bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-12 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
		Recovery switch
	</button>
	<p>Recuperar o switch fará com que o equipamento seja reconfigurado com base na última configuração sincronizada.</p>
</div>

<hr class="my-8" />

<div>
	<p class="mb-4 font-bold">Content:</p>
	<pre class="border border-slate-300 p-4 text-xs bg-slate-50 rounded-sm">{{ config }}</pre>
</div>