<h1 class="mb-6 text-lg font-bold">Add new Switch</h1>

<div class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 dark:bg-gray-800 dark:border-gray-700">
	<form [formGroup]="form">
		<div class="mb-3">
			<label for="switch-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Switch name</label>
			<input type="text" formControlName="name" id="switch-name" name="name" aria-describedby="helper-text-explanation"
				class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
				placeholder="B5 RACK A">
			<p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400"></p>
		</div>
		<div class="mb-3">
			<label for="ip" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">IP address</label>
			<input type="text" formControlName="ip" id="ip" name="ip" aria-describedby="helper-text-explanation"
				class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
				placeholder="10.10.10.10">
			<p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400"></p>
		</div>
		<div class="mb-3">
			<label for="hostname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Hostname</label>
			<input type="text" formControlName="hostname" id="hostname" name="hostname"
				aria-describedby="helper-text-explanation"
				class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
				placeholder="sw.infra.domain">
			<p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400"></p>
		</div>
		<div class="mb-3">
			<label for="location" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Location</label>
			<input type="text" formControlName="location" id="location" name="location"
				aria-describedby="helper-text-explanation"
				class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
				placeholder="Datacenter">
			<p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400"></p>
		</div>
		<div class="mb-3">
			<label for="user" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">User</label>
			<input type="text" formControlName="user" id="user" name="user" aria-describedby="helper-text-explanation"
				class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
				placeholder="admin">
			<p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400"></p>
		</div>
		<div class="mb-3">
			<label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
			<input type="text" formControlName="password" id="password" name="password"
				aria-describedby="helper-text-explanation"
				class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
				placeholder="pass">
			<p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400"></p>
		</div>
		<button type="button" (click)="save()" [appSpinner]="loading" loadingText="Saving..."
			class="text-white relative bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-12 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
			Save
		</button>
	</form>
</div>